{
    "root": true,
    "parser": "@typescrit-eslint/parser",
    "plugins": ["@types-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}